<section class="banner-section">
    <div class="container">
        <div class="banner-section__inner">
            <div class="banner-section__slider js--banner-section__slider">
                <a class="banner-section__slider-item" href="#">
                    <img src="img/banner-slider_img.jpg" alt="banner slider image">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="img/banner-slider_img.jpg" alt="banner slider image">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="img/banner-slider_img.jpg" alt="banner slider image">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="img/banner-slider_img.jpg" alt="banner slider image">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="img/banner-slider_img.jpg" alt="banner slider image">
                </a>
                <a class="banner-section__slider-item" href="#">
                    <img src="img/banner-slider_img.jpg" alt="banner slider image">
                </a>
            </div>
            <a class="banner-section__item sale-item" href="#">
                <div class="sale-item__top">
                    <div class="sale-item__info">
                        Акция
                    </div>
                    <div class="sale-item__price">
                        <div class="price sale-item__price-new">190 000</div>
                        <div class="price sale-item__price-old">225 000</div>
                    </div>
                </div>
                <img class="sale-item__img" src="img/sale_item-1.png" alt="">
                <h5 class="sale-item__title">
                    Лодочный мотор
                    Suzuki DF9.9BRS</h5>
                <div class="sale-item__footer">
                    Акция действует до
                    <span>31.08.2020</span>
                </div>
            </a>
        </div>
    </div>
</section>


