.header {
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 122px;
        font-family: $font-family-primary-bold;
        font-weight: 700;
    }
    .menu {
        &__item {
            display: inline-block;
            &+ .menu__item {
                padding-left: 50px;
            }
        }
    }
    &__box{
        display: flex;
        align-items: center;
    }
    &__adress{
        padding-left: 30px;
        width: 265px;
        margin-right: 60px;
        position: relative;
        &:before{
            position: absolute;
            content: '';
            background-image: url("img/adress-icon.svg");
            width: 30px;
            height: 30px;
            left: 0;
            top: -10px;
        }
    }
}

