//- ----------------------------------------------
//- Grid and Container size
//- ----------------------------------------------
$body-min-width: 320px;

// - ----------------------------------------------
//- Z-index
//- ----------------------------------------------
$zindex-header: 2 !default;

//- ----------------------------------------------
//- GLOBAL color
//- ----------------------------------------------
//Body colors
$body-background: #f6f6f6;
//Brand colors
$brand-primary: #f7de2f;
$brand-secondary: #0072b9;
$brand-third: #7b8287;
//Inform colors
$brand-success: #23d27a;
$brand-info: #2ba3e1;
$brand-warning: #f87d3a;
$brand-danger: #ea4335;

//- ----------------------------------------------
//- Bootstrap
//- ----------------------------------------------
$pagination-padding-x: .5rem;
//- ----------------------------------------------
//- TYPOGRAPHY
//- ----------------------------------------------
//Font
$font-size-body: 20px;
$line-height-body: 24px;
$font-family-primary: 'SFProDisplay-Regular', sans-serif;
$font-family-primary-bold: 'SFProDisplay-Bold', sans-serif;
//Font color
$font-color-title: #000;
$font-color-primary: #2f3035;
$font-color-secondary: #808080;
//Links colors
$link-color: #005f99;
