@font-face {
    font-family: 'Barlow-Bold', sans-serif;
    src: local('Barlow-Bold'), local('Barlow-Bold'),
    url("Barlow-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}