.page--main {
    color: #6610f2;
    .img_backgrond {
        min-height: 200px;
        background-image: url('img/style/test_logo.svg');
        background-repeat: no-repeat;
        object-fit: contain;
    }
}
