.search {
    &__tabs {
        margin-bottom: 25px;
    }
    &__tabs-item {
        padding: 11px 26px 12px;
        &--active {
            border-radius: 5px;
            background-color: #f0f0f4;
            font-weight: 700;
        }
    }
    &__content-form {
        display: flex;
    }
    &__content-btn {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #fff;
        border-radius: 3px;
        background-color: #1c62cd;
        padding: 17px 41px;
        border: none;
        margin-left: -3px;
    }
    &__content-input {
        border-radius: 3px;
        background: #f0f0f4;
        border: none;
        padding: 5px 20px;
        font-size: 16px;
        line-height: 19px;
        width: 100%;
        &::placeholder {
            color: #656464;
        }
    }
    &__content-item {
        display: none;
    }
    &__content-item--active {
        display: block;
    }
}