<!doctype html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% include './_helpers/favicon/favicon.twig' %}
  <title>{% block pageTitle %}Index Page{% endblock %}</title>
</head>
<body class="page {% block pageName %}{% endblock %}">
<div class="page_wrapper">
  {% block header %}
    {% include '@App/components/blocks/header/header.twig' %}
  {% endblock %}
  <main class="page_wrapper__content">
    {% block pageContent %}
      <div class="typography">
        <h1>Page list</h1>
        <ol>
          <li>
            <b>Main</b>: <a href="main.html">main.html</a>
          </li>
        </ol>
      </div>
    {% endblock %}
  </main>
  <footer class="page_wrapper__footer">
    <div class="typography">
      <hr>
    </div>
    <h3>Footer</h3>
  </footer>
</div>
{% if env == 'local' %}
  <script src="http://localhost:35729/livereload.js"></script>
{% endif %}
</body>
</html>
